.posts__container {
    width: 80%;
    padding: 10px 0;
    height: auto;
    border-radius: 5px;
    background-color: coral;
    margin-bottom: 20px;
}

.posts__img img {
    width: 100%;
}

.posts__profil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.posts__profil div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts__avatar {
    background-color: #149eff;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.posts__avatar img {
    width: 50px;
}

.posts__post {
    text-align: justify;
    padding: 10px;
    background-color: beige;
    margin: 10px;
    border-radius: 5px;
}

.posts__eval {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

.posts__eval div:first-child {
    padding-right: 10px;
}

.posts__eval div:hover {
    color: red;
}

form textarea {
    width: 90%;
}

form input {
    /* margin-bottom: 10px; */
    height: 20px;
    border-radius: 20px;
    border: none;
}

form input:focus {
    outline-style: none;
}
