.logo {
    width: 160px;
    height: auto;
    position: absolute;
    top: 5px;
}

.fixe {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2rem;
    background-color: cornflowerblue;
    font-size: 1.5rem;
    /* min-height: 40px; */
}

.nav__pad {
    padding: 0 10px;
}

/* .nav li {
    margin-bottom: 5px;
} */

.nav__avatar {
    background-color: var(--tertiary-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.nav__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_mob li {
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: all 300ms ease-in-out;
}

.nav_mob li:hover {
    border-bottom: 2px solid red;
}

.nav_mob li:focus {
    border-bottom: 2px solid red;
}

.connect {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--quaternary-color);
    /* top: -6px; */
    /* right: 5px; */
    /* border-radius: 5px; */
    padding: 5px;
    gap: 5px;
    right: -10px;
}

.nav__deconnect {
    background: transparent;
    border: none;
}

.nav__deconnect img {
    height: 20px;
    cursor: pointer;
}

.nav__height {
    min-height: 40px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media all and (max-width: 768px) {
    .connect {
        flex-direction: column;
    }
}
