.logo {
    width: 160px;
    height: auto;
    position: absolute;
    top: 5px;
}

/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

.fixe {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2rem;
    background-color: cornflowerblue;
    font-size: 1.5rem;
    /* min-height: 40px; */
}

.nav__pad {
    padding: 0 10px;
}

.nav li {
    margin-bottom: 5px;
}

.nav__avatar {
    background-color: #149eff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.nav__avatar img {
    width: 100%;
    height: auto;
}

.connect {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--secondary-color);
    /* top: -6px; */
    /* right: 5px; */
    /* border-radius: 5px; */
    padding: 5px;
    gap: 5px;
    right: -10px;
}

.nav__deconnect {
    background: transparent;
    border: none;
}

.nav__deconnect img {
    height: 20px;
    cursor: pointer;
}

.nav__height {
    height: 40px;
    width: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
